.PAGE_NOT_FOUND {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}

.Not_Found_Text {
  color: #feca57;
  letter-spacing: 0.3rem;
}

.Not_Found_Text span {
  color: #ff9f43;
}

.Not_Found_Text a {
  color: #ff9f43;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 3px solid #feca57;
}
