.main_container {
  width: 70%;
  margin: 50px auto 0 auto;
  color: #a4b0be;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 20px 5px #c7ecee6c, -20px -5px 0 #7ed5df6e;
}

.projects_main_container {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: #a4b0be42;
}

.project_header_text {
  color: #a4b0be;
  width: 200px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #7ed5df6e;
}

.project_box_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project_box {
  width: 300px;
  height: 350px;
  display: inline-block;
  margin: 20px;
  padding: 0 20px;
  text-align: center;
  box-shadow: 2px 2px #c7ecee6c, -2px -2px 0 #7ed5df6e;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.24);
  position: relative;
  overflow: hidden;
}

.project_name {
  color: #ffff;
  margin: 10px 0;
}

.project_info {
  position: absolute;
  width: 100%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -156%);
  color: #ffff;
  font-weight: 700;
  background-color: #528c9298;
  padding: 10px;
  transition: all 300ms ease-in-out;
}

.project_link {
  text-decoration: none;
  color: #ffff;
}

.project_image {
  width: 100%;
  height: 85%;
  transition: all 0.5s;
  border-radius: 10%;
  cursor: pointer;
}
.project_info:hover,
.project_image:hover + .project_info {
  transform: translate(-50%, -44%);
  transition-delay: 0.2s;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
