.main_container {
  width: 70%;
  margin: 50px auto 0 auto;
  color: #a4b0be;
  padding:20px;
  border-radius: 20px;
  box-shadow: 20px 5px #c7ecee6c, -20px -5px 0 #7ed5df6e;
}

.projects_main_container {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  height: fit-content;
  background-color: #a4b0be42;
}

.project_header_text {
  color: #a4b0be;
  width: 200px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  border-bottom: 3px solid #7ed5df6e;
}

.project_box_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project_box {
 width: 300px;
 height: 350px;
 display: inline-block;
 margin: 20px;
 padding: 0 20px;
 text-align: center;
 box-shadow: 2px 2px #c7ecee6c, -2px -2px 0 #7ed5df6e;
 border-radius: 15px;
}

.project_name {
  color: #ffff;
  margin: 10px 0 ;
}

.project_image {
  width: 80%;
  height: 80%;
  transition: all .5s;
  border-radius: 10%;
  cursor: pointer;
  opacity: .2;
}

.project_image:hover {
  border-bottom: none;
  width: 100%;
  height: 85%;
  opacity: 1;
}

