.main_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.main_text {
   width: 70%;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   font-weight: bolder;
   color: #a4b0be;
   text-transform: uppercase;
}

.main_text span {
    color:#a4b0be;
    font-size: 30px;
    margin-top: 100px;
}

.main_text h1 {
   padding: 20px 0;
   font-size: 45px;
}

.main_text h2 {
    font-size: 45px;
    color: #c7ecee;
}


.main_info {
   display: flex;
   flex-basis: 70%;
   height: fit-content;
   overflow-wrap: break-word;
   word-wrap: break-word;
   hyphens: auto;
   color: #ffff;
   margin-top: 70px;
   border: 2px solid transparent;
   box-shadow: 20px 5px #c7ecee6c, -20px -5px 0 #7ed5df6e;
   padding: 40px 20px;
}

@media screen and (max-width: 1000px) {
    .main_info {
        font-size: 150%;
        text-align: justify;
      }
  }

@media screen and (max-width:876px) {
    .main_text h2 {
       font-size: 40px;
    }
    .main_info {
        font-size: 150%;
        text-align: justify;
      }
}

@media screen and (max-width:800px) {
    .main_text span {
        font-size: 25px;
    }

    .main_text h1 {
        font-size: 30px;
     }
     
     .main_text h2 {
         font-size: 25px;
     }

     .main_info {
       font-size: 100%;
       text-align: justify;
     }
}

@media screen and (max-width: 480px) {
    .main_text span {
        font-size: 15px;
    }

    .main_text h1 {
        font-size: 20px;
     }
     
     .main_text h2 {
         font-size: 15px;
     }

    .main_info {
        font-size: 80%;
      }
   
  }

  @media screen and (max-width: 300px) {
    .main_text span {
        font-size: 12px;
    }

    .main_text h1 {
        font-size: 15px;
     }
     
     .main_text h2 {
         font-size: 12px;
     }

    .main_info {
        font-size: 60%;
      }
  }
  

