.portfolio_header{
    background: linear-gradient(-45deg, #ff9f43, #feca57);
    background-size: 400% 400%;
    width: auto;
    height: 100px;
    position: relative;
    animation: change 5s ease-in-out infinite;
}

.portfolio_nav {
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 20px  #feca57;
}

.portfolio_nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
    border-right: 4px solid #222f3e;
}

.portfolio_nav ul li {
    cursor: pointer;
    margin: 15px;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    font-weight: 700;
    --c: #222f3e;
    line-height: 1.2em;
    border: 2px solid #222f3e;
    border-radius: 10px;
    background:
      conic-gradient(from -135deg at 100%  50%,var(--c) 90deg,#0000 0) 
        0    var(--p,0%)/var(--s,0%) 200% no-repeat,
      conic-gradient(from -135deg at 1.2em 50%,#0000 90deg,var(--c) 0) 
        100% var(--p,0%)/var(--s,0%) 200% no-repeat;
    transition: .4s ease-in, background-position 0s;
    
}

.portfolio_nav ul li:hover{
    --p: 100%;
  --s: calc(70% + .61em);
  color: #ff9f43;
}

.portfolio_contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
}

.portfolio_contact a {
    font-size: 30px;
    padding: 5px 10px;
    margin-left: 5px;
    color: #222f3e;
    background: 
    linear-gradient(#222f3e 0 0) no-repeat
     calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}

.portfolio_contact a:hover {
    --p: 100%;
    --t: .3s;
    color: #ff9f43;
}



@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@media screen and (max-width:800px) {
    .portfolio_nav ul{
        display: none;
    }
}

@media screen and (max-width:410px) {
    .portfolio_contact a {
        font-size: 20px;
    }
}

@media screen and (max-width:320px) {
    .portfolio_contact a {
        font-size: 15px;
    }
}