.portfolio_header{
    background: linear-gradient(-45deg, #c7ecee00, #f1f2f623);
    background-size: 400% 400%;
    width: 100%;
    height: 100px;
    position: relative;
    animation: change 5s ease-in-out infinite;
}

.home_btn_tr {
    font-size: 40px;
    display: flex;
    align-items:center;
    justify-content: right;
    flex-wrap: wrap;
    flex-basis: 110px;
    cursor: pointer;
    transition: all 0.3s;
}

.home_btn_tr:hover{
   font-size: 50px;
}

.home_btn {
    color: #c7ecee;
}

.portfolio_nav {
    height: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 20px  #c7ecee;
}

.portfolio_nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    flex: 2;
}


.portfolio_nav ul li a {
    cursor: pointer;
    margin: 15px;
    padding: 10px 25px 10px 25px;
    font-size: 18px;
    font-weight: 700;
    --c: #57606f;
    line-height: 1.2em;
    border: 2px solid #c7ecee;
    border-radius: 10px;
    background:
      conic-gradient(from -135deg at 100%  50%,var(--c) 90deg,#0000 0) 
        0    var(--p,0%)/var(--s,0%) 200% no-repeat,
      conic-gradient(from -135deg at 1.2em 50%,#0000 90deg,var(--c) 0) 
        100% var(--p,0%)/var(--s,0%) 200% no-repeat;
    transition: .4s ease-in, background-position 0s;
    
}

.portfolio_nav ul li a {
    text-decoration: none;
    color: #a4b0be;
}

.portfolio_nav ul li a:hover{
    --p: 100%;
  --s: calc(70% + .61em);
  color:#c7ecee ;
}

.portfolio_contact{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    border-left: 4px solid #a4b0be;
    flex: 1;
}

.portfolio_contact a {
    font-size: 30px;
    padding: 5px 10px;
    margin-left: 5px;
    color: #a4b0be;
    background: 
    linear-gradient(#a4b0be 0 0) no-repeat
     calc(200% - var(--p,0%)) 100% / 200% var(--p,.08em);
  transition: .3s var(--t,0s), background-position .3s calc(.3s - var(--t,0s));
}

.portfolio_contact a:hover {
    --p: 100%;
    --t: .3s;
    color: #c7ecee;
}



@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@media screen and (max-width:856px) {
    .portfolio_nav ul li a{
        font-size: 15px;
    }
}

@media screen and (max-width:800px) {

    .home_btn_tr{
        display: none;
    }

    .portfolio_nav ul{
        display: none;
    }

    .portfolio_nav ul li a{
        border: none;
    }

    .portfolio_contact {
        border: none;
    }

}

@media screen and (max-width:410px) {
    .portfolio_contact a {
        font-size: 20px;
    }
    
}

@media screen and (max-width:320px) {
    .portfolio_contact a {
        font-size: 15px;
    }
}