.burger_icon {
    display: none;
    position: relative;
   background-color: transparent;
   border: none;
   font-size: 40px;
   cursor: pointer;
   color: #222f3e;
   margin-left: 50%;
}


@media screen and (max-width:800px) {
    .burger_icon {
        display: block;
       }
}

@media screen and (max-width:410px) {
    .burger_icon {
        font-size: 25px;
    }
}

@media screen and (max-width:320px) {
    .burger_icon {
        font-size: 20px;
    }
}

