.main_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.experience_container {
  width: 80%;
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr;
  align-items: center;
  margin: 50px 0 0 0;
  height: fit-content;
  color: #a4b0be;
  padding: 20px 0;
  border-radius: 15px;
  background-color: #a4b0be42;
}

.experience_text {
  width: 100%;
  text-align: center;
}

.experience_header {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.experience_header_text {
  padding-bottom: 20px;
  color: #fff;
  width: 60%;
  margin: 0 auto;
  letter-spacing: 2px;
  border-bottom: 4px solid #a4b0be;
}

.motivation_letter {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}


@media screen and (max-width: 480px) {
  .experience_header {
    font-size: 17px;
  }

  .experience_text {
    width: 95%;
    margin: 0 auto;
    text-align: center;
  }

  .experience_header_text {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
  }
}

@media screen and (max-width: 300px) {
  .experience_text {
    font-size: 10px;
  }
}
